html, body, #root, #app {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

#app {
  background-color: #578eed;
  width: 100%;
}

.banner {
  width: 100%;
  height: 5%;
  text-align: center;
}

.title {
  color: #ffffff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  width: 100%;
  height: 96%;
  padding: 0;
  margin: 0;
}

.board-name {
  width: 100%;
  color: #ffffff;
  margin: 0;
  margin-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.board-content {
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-y: auto;
}

.list-column {
  width: 20%;
  height: 100%;
  margin: 0 4px;
}

.list-column::first-of-type {
  margin-left: 8px;
}

.list-content {
  padding: 5px;
  background-color: #ffffff;
}

.list-title {
  color: #000000;
  margin: 0;
  padding-bottom: 5px;
}

.list-item {
  margin-bottom: 5px;
  background-color: #efd6a0;
}